/* GENERAL STYLES */

.relative-container.elementor-widget{
    position: relative;
    min-height: 80vh;
    overflow: hidden;
}

.background-element.elementor-widget{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.content-container.elementor-widget{
    height: 100%;
    width: 100%;
}

.slicknav_menu{
    display: none;
}

@media screen and (max-witdh: 40em) {
    .my-main-menu{
        display: none;
    }

    .slicknav_menu{
        display: block;
    }
}

.ast-container{
    margin-top: 5rem;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Configura una cuadrícula con un ancho mínimo de tarjeta y ajusta automáticamente el número de columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card{
    //margin-left: 3em;
    background-color: white;
    width: 300px; /* Ancho fijo para las tarjetas */
    padding: 10px; /* Espaciado interno */
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; /* Centra la tarjeta dentro de su celda */
}

h3{
    color: #1E293B;
}

.card img{
    width: 300px; /* Ancho máximo deseado */
    height: 300px; /* Alto máximo deseado */
    display: block;
    object-fit: cover; /* Recortar la imagen para llenar el contenedor */
    border-radius: 5px;
}

.container{
    padding: 5px 0 5px 0;
}

.title-projects{
    margin-bottom: 3rem;
}